/* Variables */



.btn-green {
	width: 102px;
	height: 32px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-background-clip: padding;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	background-color: #448306;
	-moz-box-shadow: 0 3px 3px rgba(0,0,0,.15);
	-webkit-box-shadow: 0 3px 3px rgba(0,0,0,.15);
	box-shadow: 0 3px 3px rgba(0,0,0,.15);
}